@model List<MainPageFourHillNewsDto>

    <div class="container">
        <div class="row">
            
                @if (Model.HasValue())
                {
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <a href="@Model[i].Url" class="col-md-3 news-list">
                            <img src="@Model[i].ImageUrl" alt="@Model[i].Title" class="img-general-list" />
                            <span class="news-list-title">@Model[i].Title</span>
                        </a>
                    }
                }
            
        </div>
    </div>