@model List<MostViewedNewsDto>


@if (Model.HasValue())
{
    <div class="row side-news-list">

        @foreach (var item in Model)
        {
            <a href="@item.Url" class="side-news">
                <img src="@item.ImageUrl" class="img-fluid" alt="@item.Title" />
                <div class="side-news-content">
                    @item.Title
                </div>
            </a>
        }

    </div>
}