@model List<MainPageImageNewsDto>

@if (Model != null && Model.Count > 0)
{

    <div class="decorated-title" style="margin-bottom:10px;">
        @Translator.GetByKey("Photo")
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                @foreach (var item in Model)
                {
                    <a href="@item.Url" class="col-md-6 photo-box" target="_blank">
                        <img src="@item.ImageUrl" />
                        <div class="photo-box-description">
                            @item.Title
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
}