/*@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;800&display=swap');

html, body {
    max-width: 100% !important;
}

body {
    font-family: 'Fira Sans Condensed', sans-serif;
    background-color: #efefef;
}

h1 {
    font-size: 28px !important;
    margin: 10px !important;
}

@media (min-width:1200px)
{
  .container{
    max-width:1040px !important;
  }
}

.visible-mobile {display:none;}
.visible-desktop {display:display;}

@media (max-width : 1200px) {
    .visible-mobile {display:block;}
    .visible-desktop {display:none;}
}

.bg-white{
    background-color: #fff !important;
}

.div-logo{
    background: rgb(237,32,29);
    background: -moz-linear-gradient(180deg, rgba(237,32,29,1) 0%, rgba(204,28,20,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(237,32,29,1) 0%, rgba(204,28,20,1) 100%);
    background: linear-gradient(180deg, rgba(237,32,29,1) 0%, rgba(204,28,20,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ed201d",endColorstr="#cc1c14",GradientType=1);
    width: 100%;
    padding: 10px;
    text-align: center;
}

.div-logo img{
    width: 20% !important;
}

@media (max-width : 1200px) {
    .div-logo img{
        width: 60% !important;
    }
}

.big-menu-btn-link{
    margin-bottom: -10px;
    text-align: left !important;
}

.info-bar{
    background-color: #f7f7f7;
    min-height: 65px;
    border-bottom: 3px solid #dfdfdf;
}

.city-dropdown{
    background-color: #376284 !important;
    color: #fff !important;
    height: 65px !important;
    padding-top: 20px;
    width: 130px !important;
    max-width: 130px !important;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    margin-left:12px;
}

@media (max-width : 1200px) {
    .city-dropdown {
        margin-left: auto !important;
    }
}

.city-dropdown a{
    font-size: 14px;
    text-decoration: none !important;
    color: #fff !important;
}

.wheather-info{
    padding-top: 10px;
    color: #376284 !important;
    font-size: 16px !important;
    border-right: 1px solid #dfdfdf;
    width: 160px !important;
    max-width: 160px !important;
    text-align: center !important;
}

.wheather-info hr{
    margin-top:2px !important;
    margin-bottom:2px !important;
}

.wheather-info .wi{
    font-size: 20px !important;
}

.finance-box {
    font-size: 13px;
    color: #535863;
    border-right: 1px solid #dfdfdf;
    padding-top: 10px;
    padding-bottom: 12px;
    text-align: center;
}

.finance-box .finance-number{
    font-size: 16px !important;
    font-weight: bold !important;
    color: #101f37 !important;
}

.today-newspaper-box{
    background-color: #e3e3e3;
    text-decoration: none;
    color: #d91d18;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

.today-newspaper-box:hover{
    text-decoration: none;
    color: #535863;
}

.today-newspaper-box div{
    position: absolute;
    background-image: url(../images/today-newspaper.png);
    background-repeat: no-repeat;
    bottom: -30px;
    left: 110px;
    height: 160px;
    width: 230px;
    z-index: 1;
}

.nav-item a{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #000 !important;
}

.nav-item a:hover{
    color: #d91d18 !important;
}

.navbar-toggler-icon{
    color: #d91d18 !important;
}

.nav-item-menu-title a{
    color: #d91d18 !important;
}

/*.nav-mega{
    display: none;
    border-top: 1px solid #d91d18;
    background-color: #ebebeb !important;
    z-index: -3 !important;
}

.body-fade{
    background-color: rgba(0, 0 , 0, 0.5) !important;
    z-index: -2 !important;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
}*/

.nav-sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #bdbdbd;
}

.news-list{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    background-color: #fff !important;
    color: #000 !important;
    text-decoration: none !important;
    border-bottom: 1px solid #dedede !important;
    padding: 0px 0px 15px 0px!important;
    background-clip: padding-box;
    border: 15px solid transparent;
}

.news-list:hover{
    color: #d91d18 !important;
}

.news-list img{
    width: 100% !important;
    height: auto !important;
    max-height: 175px !important;
    margin-bottom: 10px !important;
}

.news-list span{
    padding: 0px 10px 0px 10px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
}

.news-list-wide{
    margin-top: 10px !important;
    color: #000 !important;
    text-decoration: none !important;
    padding: 0px 0px 0px 0px!important;
    background-clip: padding-box;
    text-align: center !important;
}

.news-list-wide img{
    width: 100% !important;
    padding: 0 10px 0 10px !important;
}

.trapezoid {
    height: 0;
    width: 100%;
}

.trapezoid-left {
    border-bottom: 45px solid black;
    border-left: 0 solid transparent;
    border-right: 20px solid transparent;
    border-top: 0 solid transparent;
    font-size: 18px !important;
    color: #ffc000 !important;
    z-index: 1;
}

@media (max-width : 1200px) {
    .trapezoid-left{
        font-size: 12px !important;
    }
}

.breaking-news-bg{
    background-color: #ffc000;
    margin: 10px 0 10px 0 !important;
    height: 70px !important;
    font-size: 24px !important;
}

.breaking-news-title{
    background-color: #000 !important;
    font-size: 22px !important;
    color: #ffc000 !important;
    z-index: 1;
}

@media (max-width : 1200px) {
    .breaking-news-bg{
        font-size: 16px !important;
        height: 150px !important;
    }
}

.breaking-news-ticker {
    list-style-type: none !important;
	float: left !important;
}

.breaking-news-ticker a {
    text-decoration: none !important;
    color: #000 !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 1 !important;
    display: -webkit-box !important;
}
 
.swiper-container .swiper-container-main {
    width: 100% !important;
    height: 100% !important;
}

.swiper-container img{
    width: 100% !important;
}

.swiper-container .swiper-pagination{
    position: static !important;
}

.swiper-container-main .swiper-pagination-bullet{
    font-weight: bold;
    color: #fff;
    width: 40px;
    height: 38px;
    border-radius: 100%;
    padding: 5px !important;
    margin: 5px 2px 0px 2px !important;
    background-color: #515151 !important;
    opacity: 1 !important;
}

.swiper-container-main .swiper-pagination-bullet-active{
    background-color: #d91d18 !important;
}

.swiper-container-main .swiper-pagination-bullet:hover{
    background-color: #d91d18 !important;
}

.swiper-container .swiper-button-prev{
    color: #fff !important;
    opacity: 0.6 !important;
}

.swiper-container .swiper-button-next{
    color: #fff !important;
    opacity: 0.6 !important;
}

.swiper-container-sub .swiper-pagination-bullet {
    background-color: #515151 !important;
}

.swiper-container-sub .swiper-pagination-bullet-active {
    background-color: #d91d18 !important;
}

.swiper-container-sub .swiper-pagination-bullet:hover{
    background-color: #d91d18 !important;
}

.swiper-container-sub2 .swiper-pagination-bullet{
    background-color: #cfcece !important;
}

.swiper-container-sub2 .swiper-pagination-bullet-active{
    background-color: #d91d18 !important;
}

.swiper-container-sub2 .swiper-pagination-bullet:hover{
    background-color: #d91d18 !important;
}

.sub-heading-link::before {
    background: linear-gradient(to bottom, transparent 0px, #000 100%);
    bottom: 0;
    content: "";
    height: 120px;
    left: 0;
    position: absolute;
    right: 0;
    width: auto;
}

.sub-heading-link .title {
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 18px;
    padding: 0px 10px 0px 10px;
    bottom: 10px;
    position: absolute;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important;
    display: -webkit-box !important;
}

.swiper-full-width-div, .swiper-full-width-div:hover {
    width: 38px;
    height: 38px;
    color: #fff;
    text-decoration:none;
    margin-left: -4px;
}

.news-list-wide::before {
    background: linear-gradient(to bottom, transparent 0px, #000 100%);
    bottom: 0;
    content: "";
    height: 120px;
    left: 0;
    position: absolute;
    right: 0;
    width: auto;
}

.news-list-wide .title {
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 18px;
    padding: 0px 10px 0px 10px;
    bottom: 15px;
    position: absolute;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important;
    display: -webkit-box !important;
}

.decorated-title {
    margin-top: 20px !important;
    overflow: hidden;
    text-align: left;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none !important;
}
.decorated-title > .link{
   position: relative;
   display: inline-block;
}
.decorated-title > .link:before, .decorated-title > .link:after {
    content: '';
    position: absolute;
    top: 70%;
    border-bottom: 2px solid;
    width: 2000%; /* half of limiter*/
    margin: 0 20px;
    text-decoration: none;
}
.decorated-title > .link:hover{
    text-decoration: none;
}
.decorated-title > .link:before{
   right: 100%;
}
.decorated-title > .link:after{
   left: 100%;
}

.decorated-title > .link-white, .decorated-title > .link-white:hover{
    color: #fff;
}

.decorated-title > .link-muted, .decorated-title > .link-muted:hover{
    color: #6c757d;
}

.decorated-title > .link-success, .decorated-title > .link-success:hover{
    color: #28a745;
}

.decorated-title > .link-primary, .decorated-title > .link-primary:hover{
    color: #007bff;
}

.decorated-title > .link-danger, .decorated-title > .link-danger:hover{
    color: #dc3545;
}

.author-box {
    text-decoration: none !important;
    text-align: center;
    border-right: 1px dashed #828282;
}

.author-box img{    
    width: 100% !important;
}

.author-box .author-name{
    margin-top: 10px !important;
    font-size: 14px !important;
    font-weight: bold;
    color: #dc3545 !important;
    line-height: 16px !important;
    min-height: 32px !important;
}

.author-box .article-name{
    font-size: 15px !important;
    color: #4d4d4d;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
}

.author-box:hover .article-name{
    color: #dc3545 !important;
}

.video-box::after {
    background: #ED1515;
    border-radius: 100%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    color: white;
    content: url('../images/icon-play.png');
    display: block;
    /*font-family: FontAwesome;*/
    left: 22px;
    line-height: 22px;
    padding: 8px 10px 8px 14px;
    position: absolute;
    top: 12px;
}
.video-box::before {
    background: linear-gradient(to bottom, transparent 0px, #000 100%);
    bottom: 0;
    content: "";
    height: 210px;
    left: 0;
    position: absolute;
    right: 0;
    margin: 0px 10px;
    width: auto;
}

.video-box .video-box-description {
    font-size: 16px;
    line-height: 26px;
    padding: 0px 30px 0px 20px;
    bottom: 20px;
    position: absolute;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important;
    display: -webkit-box !important;
}

.video-box-small::after {
    background: #ED1515;
    border-radius: 100%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    color: white;
    content: url('../images/icon-play-small.png');
    display: block;
    /*font-family: FontAwesome;*/
    left: 20px;
    line-height: 14px;
    padding: 5px 4px 5px 9px;
    position: absolute;
    top: 6px;
}

.video-box-small::before {
    background: linear-gradient(to bottom, transparent 0px, #000 100%);
    bottom: 0;
    content: "";
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
    margin: 0px 10px;
    width: auto;
}

.video-box-small .video-box-description {
    font-size: 14px;
    line-height: 18px;
    padding: 0px 10px 0px 10px;
    bottom: 20px;
    position: absolute;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important;
    display: -webkit-box !important;
}

.photo-box::before {
    background: linear-gradient(to bottom, transparent 0px, #000 100%);
    bottom: 0;
    content: "";
    height: 120px;
    left: 0;
    position: absolute;
    right: 0;
    margin: 0px 10px;
    width: auto;
    z-index: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.photo-box img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.photo-box:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.photo-box .photo-box-description {
    font-size: 14px;
    line-height: 18px;
    padding: 0px 10px 0px 10px;
    bottom: 10px;
    position: absolute;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important;
    display: -webkit-box !important;
    z-index: 2;
}

.main-page-gallery {
    color: #fff !important;
    background-color: #000 !important;
}

.main-page-gallery .main-page-gallery-title{
    margin: 10px 0 10px 0 !important;
}

.main-page-gallery img{
    width: 100% !important;
}

.main-page-gallery .play-button{
	position:absolute;
	top:40%;
	margin-top:-36px;
	left:50%;
	margin-left:-36px;
	width:72px;
    height:72px;
	background:transparent url(../images/play.png) no-repeat left top;
	background-size:72px 72px;
	z-index:1;
}

.main-page-gallery .play-button-small{
	position:absolute;
	top:50%;
	margin-top:-36px;
	left:60%;
	margin-left:-36px;
	width:36px;
    height:36px;
	background:transparent url(../images/play.png) no-repeat left top;
	background-size:36px 36px;
	z-index:1;
}

.main-page-gallery a{
    color: #fff !important;
    text-decoration: none !important;
    display:block;
    margin-bottom:14px;
}

.main-page-gallery a:hover{
    color: #dc3545 !important;
    text-decoration: none !important;
}

.main-page-item-title{
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 1 !important;
    display: -webkit-box !important;
}

.main-page-item-title.small{
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important;
    display: -webkit-box !important;
}

@media (max-width : 1200px) {
    .main-page-gallery .play-button{
        position:absolute;
        top:15%;
        margin-top:-36px;
        left:50%;
        margin-left:-36px;
        width:72px;
        height:72px;
        background:transparent url(../images/play.png) no-repeat left top;
        background-size:72px 72px;
        z-index:1;
    }
    
    .main-page-gallery .play-button-small{
        position:absolute;
        top:50%;
        margin-top:-36px;
        left:50%;
        margin-left:-36px;
        width:72px;
        height:72px;
        background:transparent url(../images/play.png) no-repeat left top;
        background-size:72px 72px;
        z-index:1;
    }

    .main-page-item-title.small{
        font-size: 16px !important;
    }
}

.bg-economy{
    background: url(../images/background/bg-economy.jpg) repeat left top;
}

.economy-slider-item{
    width: 100% !important;
    color: #fff !important
}

.economy-slider-item-title {
    float: left !important;
    width: 50% !important;
    top: 30% !important;
    margin: 0;
    position: absolute;
    padding-left: 50px !important;
    font-size: 40px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 3 !important;
    display: -webkit-box !important;
}

@media (max-width : 1200px) {
    .economy-slider-item-title{
        font-size: 15px !important;
    }
}

.economy-slider-item img {
    width: 70% !important;
    max-height: 330px !important;
    float: right !important;
    mask-image: linear-gradient(to left, rgba(0,0,0,1) 50%, rgba(0,0,0,0)) !important;
    -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1) 50%, rgba(0,0,0,0)) !important;
}

.bg-politics{
    background-color: #000 !important;
}

.politics-slider-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.politics-slider-item img {
    width: 80% !important;
    height: 330px !important;
    float: right !important;
    mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0)) !important;
    -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0)) !important;
}

.politics-slider-item-title {
    color: #fff !important;
    float: left !important;
    width: 60% !important;
    top: 25% !important;
    margin: 0;
    position: absolute;
    font-size: 40px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important;
    display: -webkit-box !important;
}

.swiper-pagination-bottom2 {
    position: absolute !important;
    width: 30px;
    margin-left:-20px;
}

.swiper-container-bottom2 .swiper-pagination-bullet {
    top: 0 !important;
    width: 40px;
    height: 35px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10%;
    text-align: center;
    padding-left: 4px;
    padding-top: 6px;
    border-radius: 0 6px 6px 0;
}

.swiper-bottom2-full-width-div, .swiper-bottom2-full-width-div:hover {
    width: 40px;
    height: 35px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    margin-left: 0px;
}

.bg-author {
    background-color: #fff !important;
    margin-top: 20px !important;
    padding-bottom: 20px !important;
}

.bg-actual{
    background-color: #777777 !important;
}

.bg-sport{
    background: url(../images/background/bg-sport.jpg) repeat left top;
}

.bg-world{
    background: url(../images/background/bg-world.jpg) repeat left top;
}

.img-general-list{
    width: 100% !important;
    min-height: 137px !important;
}

.img-general-list-bottom {
    width: 100% !important;
    min-height: 175px !important;
}

.popular-news {
    margin-top: 25px !important;
    margin-bottom: 10px !important;
    margin-left: 10px !important;
    margin-right: 3px !important;
    background-color: #e4e4e4 !important;
    height: 440px;
    max-height: 440px;
}

.popular-news-title {
    padding: 10px !important;
    color: #777777 !important;
}

.news-list-horizontal {
    font-size: 14px !important;
    color: #333 !important;
    margin: 10px !important;
    width: 100% !important;
    padding-bottom: 10px !important;
    border-bottom: 1px solid #adadad;
}

.news-list-horizontal .title {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 60px;
}

.news-list-horizontal:hover{    
    color: #666 !important;
    text-decoration: none !important;
}

.news-list-horizontal img{
    width: 80px !important;
    float: left;
    margin-right: 10px !important;
}

.sport-link{
    padding-top: 20px;
    color: #305714;
    text-decoration: none;
}

.sport-link:hover{
    color: #183900;
    text-decoration: none;
}

.biography-news{
    padding-bottom: 20px !important;
    background-color: #000 !important;
    width: 100% !important;
    color: #fff !important;
    text-decoration: none !important;
}

.biography-news-title{
    width: 100% !important;
    text-align: center !important;
}

.biography-news img{
    width: 100% !important;
    height: auto !important;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)) !important;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)) !important;
}

.footer-bs {
    background-color: #3c3d41;
    padding-top: 30px;
    padding-bottom: 15px;
    color: rgba(255,255,255,1.00);
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 6px;
  }
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
font-size: 11px;
text-transform: uppercase;
letter-spacing: 3px;
margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); font-size: 14px !important; }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
font-size: 11px;
text-transform: uppercase;
letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
font-size: 11px;
text-transform: uppercase;
letter-spacing: 3px;
margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}

.copyright-text{
    margin-top: 10px !important;
    font-size: 12px !important;
}

.breadcrumb{
    background-color: #fff !important;
}

.breadcrumb-item a{
    color: #dc3545 !important;
}

.breadcrumb-item a:hover{
    text-decoration: none !important;
}

.news-detail-box{
    background-color: #fff !important;
    margin-bottom: 10px !important;
    padding-bottom: 10px !important;
    width: 100% !important;
}

.news-detail-box h1{
    padding: 0 10px 0 10px !important;
    font-size: 34px !important;
}

.news-detail-box h2{
    padding: 0 10px 5px 10px !important;
    font-size: 20px !important;
    color: #555 !important;
}

.news-detail-box img{
    width: 100% !important;
    height: auto !important;
}

.news-detail-body {
    width: 100% !important;
    padding: 10px 10px 5px 10px !important;
}

.news-container-text {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    overflow-wrap: break-word;
}

.news-detail-body img {
    width: 100% !important;
    height: auto !important;
}

.news-detail-box .card{
    margin: 10px !important;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.card-body{
    color: #535353 !important;
    font-size: 20px !important;
}

.card-body:hover{
    color: #dc3545 !important;
    text-decoration: none !important;
}

.div-tags{
    padding: 10px !important;
}

.div-tags{
    padding: 10px !important;
}

.div-tags .badge{
    padding: 10px !important;
}

.comment-title{
    display:block;
    background-color:#ffffff;
    padding:14px 7px 14px 14px;
    margin-bottom:14px;
    font-size:18px;line-height:22px;font-weight:bold;color:#000000;
}

.comment-title:hover{
    color:#000000 !important;
    text-decoration: none !important;
}

.comment-wrapper{
    border-radius:5px;
    border:solid 1px #dddddd;
    background-color:#f0f0f0;
    padding:14px;
}
.comment-form a{
    color: #dc3545 !important;
}

.comment-name{
    font-weight:bold;
    display:inline-block;
    margin-right:14px;
}

.comment-date{
    color:#808080;
    display:inline-block;
}

.comment-text{
    color:#808080;
}

.side-news-list{
    padding: 15px !important;
    position:sticky;
    top:85px;
}

.side-news img{
    width: 100% !important;
}

.side-news{
    position: relative;
    margin-bottom: 10px !important;
}

.side-news-content{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px !important;
    width: 100% !important;
    padding: 10px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    color: #fff !important;
}

.side-news:hover .side-news-content{
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    color: #fff !important;
}

#buttonTopScroll {
    display: inline-block;
    background-color: #ea1f1c;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    padding-top:5px;
}

#buttonTopScroll::after {
    color: #fff;
}

#buttonTopScroll:hover {
    cursor: pointer;
    background-color: #333;
    text-decoration:none !important;
}

#buttonTopScroll:active {
    background-color: #515151;
}

#buttonTopScroll.show {
    opacity: 1;
    visibility: visible;
}

.news-share-bar{
    margin-bottom:10px;
    border-bottom: 1px solid #ececec;
    width:100%;
    height:45px;
}

.news-date {
    color: #999;
    float: left;
    margin-left: 10px;
    padding-top:10px;
    font-size:14px;
}

.news-buttons-wrapper{
    float:right;
    margin-right:10px;
}

.comment-box{
    margin: 10px; 
}

.article-item-link, .article-item-link:hover {
    color: #515151 !important;
    font-size: 14px !important;
    text-decoration: none;
}

.article-item-link >.article-date {
    color: #a8a8a8 !important;
    font-size: 12px !important;
}