@model List<MainHeadingDto>

    <div class="swiper-container swiper-container-main">
        <div class="swiper-wrapper">
            @{ 
                var i = 1;
            }
            @if (Model.HasValue())
            {
                @foreach (var item in Model)
                {
                    <a href="@item.Url" id="mainSlider_@i" class="swiper-slide" style="position:relative;" target="_blank">
                        @if (item.UseTitle)
                        {
                            <div class="badge main-heading-title">@item.Title</div>
                        }
                        <img src="@item.ImageUrl" class="img-fluid" style="width: 100% !important; height: 396px !important;" />
                    </a>
                    i++;
                }
            }
        </div>

        <div class="swiper-pagination swiper-pagination-main visible-desktop" style="margin-top: 5px;"></div>
    </div>