@model AuthorWithDetailsDto

@if (Model != null && Model.ArticleList.HasValue())
{
    var i = 0;
    @foreach (var item in Model.ArticleList)
    {
        <a href="@item.Url" class="article-item-link">
            <div class="article-title">@item.Title</div>
            @if (item.PublishDate.HasValue)
            {
                <div class="article-date">
                    @item.PublishDate.Value.ToString("dd/MM/yyyy")
                </div>
            }
        </a>
        <hr />
        i++;
        if (i >= 6) break;
    }
}