@model List<MainPageCategoryNewsDto>

@if (Model.HasValue())
{
    @foreach (var item in Model)
    {
        <a href="@item.Url" class="col-md-4 news-list">
            <img src="@item.ImageUrl" />
            <span class="news-list-title">@item.Title</span>
        </a>
    }
}