@model List<MainPageCategoryNewsDto>

@if (Model.HasValue())
{
    @foreach (var item in Model)
    {
        <a href="@item.Url" class="news-item-link br5">
            <div class="left rltv">
                <img src="@item.ImageUrl" class="img-responsive m0a" alt="@item.Title">
            </div>
            <div class="right">
                @*<div class="news-cat spor">SPOR</div>*@
                <div class="news-title">@item.Title</div>
                @*<div class="news-sub">Biz Karadenizliler bu konuda hassasız</div>*@
            </div>
            <div class="clearfix"></div>
        </a>
    }
}