@model List<BreakingNewsDto>


<div class="bn-breaking-news" id="newsTicker" style="margin-top:20px;">
    <div class="bn-news">
        <ul>
            @if (Model != null && Model.Count > 0)
            {
                @foreach (var item in Model)
                {
                    <li><a href="@item.Url">@item.Title</a></li>
                }
            }
        </ul>
    </div>
    <div class="bn-controls">
        <button><span class="bn-arrow bn-prev"></span></button>
        <button><span class="bn-arrow bn-next"></span></button>
    </div>
</div>