@model List<AuthorDto>

<div class="container">
    <div class="col-md-12 bg-author">
        <div class="row">
            <div class="col-md-12">
                <div class="decorated-title"><a href="~/yazarlar" class="link link-danger" target="_blank">@Translator.GetByKey("Authors")</a></div>
            </div>
        </div>
        <div class="row">
            @if (Model.HasValue())
            {
                @foreach (var item in Model)
                {
                    <a href="~/yazar/@item.Url" class="col-md-2 col-6 author-box" target="_blank">
                        <img src="@item.PhotoFile?.FileName" style="width:130px !important; height: 130px !important; object-fit: cover !important;" class="rounded-circle" />
                        <div class="author-name">@item.NameSurename</div>
                        <div class="article-name">@item.LastArticleTitle</div>
                    </a>
                }
            }
        </div>
    </div>
</div>
