@model List<SubHeadingDto>

<div class="swiper-container swiper-container-sub" style="background-color:#fff;">
    <div class="swiper-wrapper">
        @if (Model.HasValue())
        {
            @foreach (var item in Model)
            {
                <a href="@item.Url" class="swiper-slide"><img src="@item.ImageUrl" class="img-fluid" style="width: 100% !important; height: auto !important;" alt="@item.Title" /></a>
            }
        }

    </div>
    <div class="swiper-button-prev swiper-button-prev-sub"></div>
    <div class="swiper-button-next swiper-button-next-sub"></div>

    <div class="swiper-pagination swiper-pagination-sub" style="margin-top:5px;margin-bottom: 5px;" "></div>
</div>
