@charset "utf-8";

html,body{min-width:320px;background-color:#f4f4f4;color:#000000;}
body{padding-top:50px;font-variant-ligatures:none;font-feature-settings:"liga" 0;}
/* helper classes */
 .c-green{color:#4caf50;}/*yesil*/
 .c-blue{color:#2096f3;}/*mavi*/
 .c-red{color:#e91111;}/*kırmızı*/
 .c-purple{color:#9c27b0;}/*mor*/
 .c-orange{color:#ff9803;}/*turuncu*/
.mb14{margin-bottom:14px;}
.mb28{margin-bottom:28px;}
.pad14{padding:14px;}
.br5{border-radius:5px;}
.dib-va{display:inline-block;vertical-align:middle}
.rltv{position:relative;}
.m0a{margin:0 auto;}
.btn{font-weight:bold;}
button, button:active, button:focus, button:hover, .btn, .btn:active, .btn:focus, .btn:hover{outline:none !important;transition:all 200ms ease 0s;}
.btn .caret {vertical-align:baseline;margin-bottom:2px;}

.content-box{background-color:#ffffff;border:1px solid #e2e2e2;box-shadow:0px 2px 2px 0px #e2e2e2;margin-bottom:14px;padding:7px;border-radius:5px;}
.shadow-box{background-color:#ffffff;border:1px solid #e2e2e2;box-shadow:0px 2px 2px 0px #e2e2e2;}
.banner-box{background-color:#ffffff;border:1px solid #e2e2e2;padding:7px 2px;text-align:center;margin:0 0 14px 0;}
.page-line {clear:both;border-bottom: 1px dotted #dfdfdf;margin-bottom:25px;padding-top: 25px;}
.form-control:focus{border-color: #e91111;box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 17, 17, 0.6);}

/* HEADER */

#header{
	height:50px;background-color:#ffffff;
	/*fixed mod*/	
	position:fixed;width:100%;z-index:88;top:0;border-bottom:1px solid #cccccc;
		-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.logo-wrapper{}
.milligazetelogo{float:left;display:block;width:48px;height:44px;margin-top:2px;margin-right:80px;}

.mobile-menu-toggler-wrapper{margin-top:10px;}
.mobile-menu-toggler{width:30px;height:30px;display:block;padding:3px;}

.navigation-list{
	float:left;
	padding-left:0;
	margin:0;
    list-style: none;
}
.navigation-list > li {
	float:left;
    text-align: center;
	position: relative;
    display: block;
	margin-right:30px
}
.navigation-list > li > a {
    display: block;
	position: relative;
	font-size: 14px;
	letter-spacing:normal;
    font-weight: 700;
	color: #7f7f7f;
	line-height: 16px;
	padding: 17px 8px 17px 8px;
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

}
.navigation-list > li > a:hover,.navigation-list > li > a:focus,.dropdown.main-drop.open > a.main-drop-toggle{text-decoration:none;color:#000000;}
.navigation-list.right{float:right;margin:0;}
.navigation-list.right > li{margin:0;}
.navigation-list.right > li img{position:absolute;top:0;left:-38px;width:32px;}

.main-drop-menu{margin:-1px 0 0 0;padding:10px 0;left:-8px;border:1px solid #959595;}
.main-drop-menu > li > a{padding:5px 10px;font-size:14px;}
.main-drop-menu > li > a:hover{color:#fc4d59;background-color:#fff;}

.top-search-but{position:relative;float:right;display:block;text-align:center;background-color:#f0f0f0;margin-top:10px;border-radius:3px;margin-right:24px;}
.top-search-but a{color:#959595;width:100px;height:30px;display:block;padding-top:3px;}
.top-search-but a:hover{text-decoration:none;color:#000;}
.top-search-but span{font-size:13px;}

.top-search-field{display:none;position:absolute;top:-10px;right:0px;width:450px;height:50px;}
	@media only screen and (max-width : 520px) {
		.top-search-field{width:270px}
	}
.header-search-txtinp{height:34px;margin-top:8px;}
.header-search-but{position:absolute;right:0px;top:10px;width:30px;height:30px;background:transparent url(../images/ico-search.png) no-repeat 3px 3px;background-size: 24px 24px;border:0;z-index:99 !important;
	-webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.top-social-wrapper{float:right;}
.top-social{display:inline-block;margin:13px 0 0 8px;}

/* HEADER end */

/* MAIN */

#main{margin-top:14px;}

.surmanset-slide{margin-bottom:14px;border-radius:4px;}
.surmanset-slide-item a{display:inline-block;color:#000000;}
.surmanset-slide-item a:hover{text-decoration:none;}
.surmanset-slide-item img{border-radius:5px 5px 0 0;}
.surmanset-slide-item{
	position:relative;
	min-height: 1px;
	padding-right:7px;
	padding-left:7px;
}
.surmanset-slide-item div.headline{
	background-color:#ffffff;
	padding:10px;
	height:64px;
	border-radius:0 0 5px 5px;
}
.surmanset-slide-item div.headline span{
	display:block;
	font-size:16px;
	font-weight:bold;
	line-height:22px;
	height:44px;
	overflow:hidden;
}
.surmanset-slide-item div.lbl{
	background-color:#e91111;
	color:#ffffff;
	font-size:10px;font-weight:normal;
	padding:4px 7px;
	border-radius:3px;
	position:absolute;
	right:14px;
	top:8px;
	
}

.sondakika-ticker{display:block;background-color:#ffffff;padding:14px 75px 14px 14px;margin-bottom:14px;border-radius:5px;border-left:5px solid #e91111;font-size:18px;line-height:22px;font-weight:bold;color:#000000;}
.sondakika-ticker:hover{text-decoration:none;}
.sondakika-ticker .lbl{color:#e91111;displaY:inline-block;}
.sondakika-ticker-btns{position:absolute;right:7px;top:10px;}

.large-slide-container{float:left;width:66.666666%;padding-right:7px;}
.small-slide-container{float:right;width:33.333333%;padding-left:7px;}

.large-slide{padding-bottom:80px;background-color:#ffffff;margin-bottom:14px;}
.small-slide{padding-bottom:32px;background-color:#ffffff;margin-bottom:14px;}

.large-slide, .small-slide{border-radius:5px;}
.large-slide img, .small-slide img{border-radius:5px 5px 0 0;}

/* hide slides before init */
.surmanset-slide > div {display:none;}
.surmanset-slide > div:first-child { display:block; width:300px;} 
.surmanset-slide.slick-initialized > div { display:block; width:auto;}
.large-slide > div {display:none;}
.large-slide > div:first-child { display:block; } 
.large-slide.slick-initialized > div { display:block;}
.small-slide > div {display:none;}
.small-slide > div:first-child { display:block; } 
.small-slide.slick-initialized > div { display:block;}
.photogallery > div {display:none;}
.photogallery > div:first-child { display:block; } 
.photogallery.slick-initialized > div { display:block;}
.photogallery-nav > div {display:none;}
.photogallery-nav > div:first-child { display:block; } 
.photogallery-nav.slick-initialized > div { display:block;}


.large-slide .slick-dots a.large-slide-all-button{background-color:#f4f4f4;border-radius:4px;border:solid 1px #e8e8e8;cursor:pointer;font-size:16px;line-height:22px;font-weight:bold;padding:4px 8px;margin-left:5px;}
.large-slide .slick-dots a.large-slide-all-button:hover{text-decoration:none;}

.oda-title{display:block;background-color:#ffffff;padding:14px 7px 14px 14px;margin-bottom:14px;border-radius:5px;border-left:5px solid #e91111;font-size:18px;line-height:22px;font-weight:bold;color:#000000;}
.oda-title:hover{text-decoration:none;}
.oda-title.blacktitle{background-color:#212121;color:#ffffff;}
.oda-title.search-result-text{font-weight:normal;font-size:16px;line-height:20px;}
h1.oda-title{margin:0 0 14px 0;}
.oda-title-search-form-wrapper{float:right;width:25%;margin-top:-6px;font-weight:normal;}

/* MAIN end */

/* mainpage video section */

#video-sect{background-color:#000000;padding:36px 0;margin:28px 0;}

.video-big-wrapper-link{display:block;color:#ffffff;margin-bottom:14px;}
.video-big-wrapper-link:hover{color:#ffffff;}
.video-big-wrapper-link .video-big-title {
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	font-size: 24px;line-height:30px;padding:30px 14px 20px 14px;
	font-weight: bold;
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 100%);
	z-index:2;
	border-radius:5px;
}

.play-button{
	position:absolute;
	top:50%;
	margin-top:-36px;
	left:50%;
	margin-left:-36px;
	width:72px;height:72px;
	background:transparent url(../images/play.png) no-repeat left top;
	background-size:72px 72px;
	z-index:1;
}
.play-button.small{background-size:36px 36px;margin-top:-18px;margin-left:-18px;width:36px;height:36px;}

.photo-button {
	position: absolute;
	top: 50%;
	margin-top: -36px;
	left: 50%;
	margin-left: -36px;
	width: 72px;
	height: 72px;
	background: transparent url(../images/photo.png) no-repeat left top;
	background-size: 72px 72px;
	z-index: 1;
}

.photo-button.small {
	background-size: 36px 36px;
	margin-top: -18px;
	margin-left: -18px;
	width: 36px;
	height: 36px;
}

.video-item-link{display:block;font-weight:bold;color:#ffffff;margin-bottom:14px;}
.video-item-link:hover{color:#ffffff;}
.video-item-link .left{display:block;width:40%;float:left;padding-right:7px;}
.video-item-link .right{display:block;width:60%;float:right;padding-left:7px;}
.video-title-small{margin-top:4px;line-height:18px;max-height:54px;overflow:hidden;}

/*mainpage video section end */

/* mainpage news */
.news-item-link{display:block;background-color:#ffffff;margin-bottom:14px;}
.news-item-link:hover{color:#000000;}
.news-item-link img{border-radius:5px 0 0 5px;}
.news-item-link .left{display:block;width:40%;float:left;padding-right:7px;}
.news-item-link .right{display:block;width:60%;float:right;padding-left:7px;padding-right:7px;}
.news-cat{font-size:12px;font-weight:bold;margin-top:3px;}
	.news-cat.spor{color:#4caf50;}/*yesil*/
	.news-cat.gundem{color:#2096f3;}/*mavi*/
	.news-cat.turkiye{color:#e91111;}/*kırmızı*/
	.news-cat.magazin{color:#9c27b0;}/*mor*/
	.news-cat.sanat{color:#ff9803;}/*turuncu*/
	.news-cat.siyaset{color:#4051b5;}/*lacimor*/
.news-title{font-size:16px;font-weight:bold;line-height:20px;margin-top:7px;max-height:60px;overflow:hidden;}
.news-sub {
	font-size: 14px;
	line-height: 18px;
	max-height: 36px;
	overflow: hidden;
	margin-top: 7px;
	text-overflow: ellipsis;
}
.column-news-wrapper .news-item-link img{border-radius:5px;}


	@media only screen and (min-width : 768px) { /*small column mods*/
	.column-news-wrapper{background-color:#fff;border-radius:5px;padding:7px 7px 0 7px;}
	.column-news-wrapper .news-item-link{margin-bottom:7px;padding-bottom:7px;border-bottom:1px dotted #d8d8d8;}
	.column-news-wrapper .news-item-link:last-of-type{border:0;padding-bottom:0;}
	.column-news-wrapper .news-item-link .right{padding-top:0;}
	.column-news-wrapper .news-item-link .news-title{font-size:14px;font-weight:bold;line-height:18px;margin-top:8px;max-height:54px;}
	.column-news-wrapper .news-item-link .news-cat{display:none;}
	.column-news-wrapper .news-item-link .news-sub{display:none;}
	}
	
	@media only screen and (min-width : 570px) and (max-width : 767px) { /*half column for mobile*/
	.column-news-wrapper-big{margin-left:-7px;margin-right:-7px;}
	.column-news-wrapper{margin-left:-7px;margin-right:-7px;}
	.news-item-link{float:left;display:block;width:48%;margin:0 1% 14px 1%;min-height:333px;}
	}
	@media only screen and (max-width : 767px) {
	.news-item-link img{border-radius: 5px 5px 0 0;}
	.news-item-link .left{display:block;width:auto;float:none;padding-right:0px;}
	.news-item-link .right{display:block;width:auto;float:none;padding-left:0px;padding:7px 14px;}
	.column-news-wrapper .news-item-link img{border-radius:5px 5px 0 0;}
	}
	@media only screen and (min-width : 768px) and (max-width : 991px) {
	.news-cat{font-size:12px;font-weight:bold;margin-top:5px;}
	.news-title{font-size:14px;font-weight:bold;line-height:16px;margin-top:2px;max-height:48px;overflow:hidden;}
	.news-sub{font-size:13px;line-height:16px;max-height:16px;overflow:hidden;margin-top:4px;}
	.news-item-link .right{padding-top:5px;}
	.column-news-wrapper .news-item-link .news-title{font-weight:normal;margin-top:0px;font-size:12px;line-height:15px;max-height:45px;}
	}
	@media only screen and (min-width : 992px) and (max-width : 1199px) { /* md wide */
	.news-item-link .right{padding-top:10px;}	
	.column-news-wrapper .news-item-link .news-title{margin-top:4px;font-size:14px;line-height:18px;max-height:54px;}
	}
	@media only screen and (min-width : 1200px) { /* lg + */
	.news-item-link .right	{padding-top:25px;}
	.column-news-wrapper .news-item-link .news-title{margin-top:3px;font-size:14px;line-height:18px;max-height:72px;}
	}
	

.news-special-wrapper-link{display:block;color:#ffffff;}
.news-special-wrapper-link:hover{color:#ffffff;}
.news-special-title {
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	font-size: 16px;line-height:20px;padding:30px 14px 20px 14px;
	font-weight: bold;
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 100%);
	z-index:2;
	border-radius:5px;
}

.ihbar-hatti{margin:14px 0;}
.ihbar-hatti .top{background-color:#4caf50;padding:14px 7px;text-align:center;color:#ffffff;font-size:18px;border-radius:5px 5px 0 0;}
.ihbar-hatti .bottom{background-color:#ffffff;padding:14px 7px;text-align:center;font-size:20px;font-weight:bold;border-radius:0 0 5px 5px;}

.col-midnews-banner{margin:14px 0 14px 0;}

/* mainpage news end */


/* News page */

.news-photo img{border-radius:5px 5px 0 0;}
.news-wrapper{background-color:#ffffff;border-radius:0 0 5px 5px;padding:14px;}
.news-headline{margin:7px 0;font-size:28px;font-weight:bold;line-height:36px;}
.news-date{font-size:14px;color:#808080;border-bottom:1px solid #d8d8d8;position:relative;margin-bottom:28px;height:20px;}
.news-date span{position:absolute;top:7px;left:0;background-color:#ffffff;padding:2px 10px 2px 0;}
.news-buttons-wrapper .news-button{display:inline-block;width:40px;height:40px;border-radius:3px;color:#ffffff;text-align:center;line-height:40px;font-size:16px;text-decoration:none;float:left;margin-right:7px;}
.news-buttons-wrapper .news-button.facebook{background-color:#2d609b;}
.news-buttons-wrapper .news-button.twitter{background-color:#5bc3f3;}
.news-buttons-wrapper .news-button.whatsapp{background-color:#1bd741;}
.news-buttons-wrapper .news-button.textsize{background-color:#325bff;font-weight:bold;}
.news-container{font-size:18px;padding:14px 0;}
.news-midtext-banner{margin:36px 0;}
.news-bottom-banner{margin:36px 0;}
.news-tags{margin-bottom:14px;}
.news-tags .btn{float:left;margin:4px;font-weight:normal;color:#606060;}
.comment-wrapper{border-radius:5px;border:solid 1px #dddddd;background-color:#f0f0f0;padding:14px;}
.comment-name{font-weight:bold;display:inline-block;margin-right:14px;}
.comment-date{color:#808080;display:inline-block;}
.comment-text{color:#808080;}
.news-seperator{border-bottom:1px solid #d8d8d8;height:50px;margin-bottom:50px;}

/* News page end */

/* arama sonuc page */
/* arama sonuc page end */

/* news special */

#special-headline{background-color:#000000;height:600px;width:100%;position:relative;background-size:cover;background-position:center;}
.special-headline-text-wrapper{
	color:#ffffff;
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 100%);
	z-index:2;
	padding:60px 0;
}
.special-headline-text h1{font-size:60px;line-height:1.2em;font-weight:bold;margin:0;}
.special-headline-text .special-file-title{font-size:22px;font-weight:normal;}

.news-headline.special-file{font-weight:normal;}

.photogallery-nav img{
	padding:4px;
	opacity:0.6;
	transition:all 300ms ease;
}
.photogallery-nav .slick-center img{
	opacity:1;
	transform: scale(1.08);
}

/* news special end */

/* news live */

#live-headline{
	color:#ffffff;
	background-color:#191919;
	background-image: linear-gradient(to bottom, #191919, #444444 99%);
	padding:60px 0;
}
.live-headline-title{color:#e91111;font-size:20px;font-weight:bold;}
h1.live-headline-text{font-size:44px;line-height:1.2em;margin:0;font-weight:bold;}

/* news live end */

/* Author article */
.news-headline.article-headline{font-weight:normal}

.author-profile{background-color:#ffffff;border-radius:5px;margin:83px auto 14px auto;max-width:400px;text-align:center;display:block;}
.author-profile:hover{text-decoration:none;}
.author-picture{background-color:#ffffff;border-radius:83px;padding:3px;border:1px solid #e2e2e2;overflow:hidden;margin-top:-83px;display:inline-block;box-shadow:0px 3px 8px 0px #e2e2e2;width:168px;height:168px;}
.author-name{font-size:20px;font-weight:bold;line-height:26px;padding:14px;border-bottom:1px solid #e2e2e2;}
.author-social {padding:14px;}
.author-social a{display:inline-block;width:34px;height:34px;line-height:20px;padding:7px;font-size:16px;}

.column-articles-wrapper{background-color:#fff;border-radius:5px;}
.article-item-link{display:block;background-color:#ffffff;padding:14px;border-bottom: 1px dotted #d8d8d8;}
.article-item-link:hover{color:#000000;text-decoration:none;}
.article-title{font-size:18px;font-style:italic;line-height:24px;max-height:72px;overflow:hidden;margin-bottom:7px;}
.article-date{font-size:12px;line-height:16px;font-weight:bold;}

.author-list{min-height:200px;}/*if search returns empty*/
.author-list .author-profile{margin:83px auto 42px auto;}
.author-list .author-profile .article-title{text-align:left;height:96px;max-height:96px;;overflow:hidden;}
.author-list .author-profile .article-date{text-align:left;}

	@media only screen and (max-width : 600px) { /*half column for mobile*/
	.author-list .col-xs-6{width:100%;}
	}
	@media only screen and (min-width : 768px) and (max-width : 991px) {
	.column-articles-wrapper .article-title{font-size:16px;font-style:italic;line-height:20px;max-height:60px;overflow:hidden;margin-bottom:7px;}
	}
	
/* Author article end */ 

/* Author article list */
.column-big-articles-wrapper{background-color:#fff;border-radius:5px;}
.column-big-articles-wrapper .article-title {max-height:none;overflow:auto;}

.column-author-list{background-color:#fff;border-radius:5px;}
.column-author-list .author-item-link{display:block;background-color:#ffffff;padding:7px;border-bottom: 1px dotted #d8d8d8;}
.column-author-list .author-item-link:hover{color:#000000;text-decoration:none;}
.column-author-list .author-item-link .author-pic-wrapper{float:left;width:74px;}
.column-author-list .author-item-link .author-pic-wrapper .author-sm-picture{background-color:#ffffff;border-radius:33px;padding:3px;overflow:hidden;display:block;box-shadow:0px 3px 8px 0px #e2e2e2;width:66px;height:66px;}
.column-author-list .author-item-link .author-sm-name{display:table-cell;vertical-align:middle;height:68px;font-size:16px;line-height:18px;font-weight:bold;}

/* Author article list end */

/* galeri */

.prev-button, .next-button
{
	display: block;
    position: absolute;
    top: 50%;
	z-index:2;
    width:48px;
    height:48px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;
    color: black;
    border: none;
    outline: none;
    font-size: 0;
    line-height: 0;

}
.prev-button{left:9px;background: transparent url('../images/ico-left-arrow.png') center center no-repeat;background-size:48px 48px;}
.next-button{right: 9px;background: transparent url('../images/ico-right-arrow.png') center center no-repeat;background-size:48px 48px;}

.galeri-top-title{font-size:24px;font-weight:bold;line-height:28px;padding-top:28px;}
.galeri-top-text{font-size:16px;}

.doublerow-slide{margin-bottom:14px;border-radius:4px;}
.doublerow-slide-item a{display:inline-block;color:#000000;margin-bottom:14px;}
.doublerow-slide-item a:hover{text-decoration:none;}
.doublerow-slide-item img{border-radius:5px 5px 0 0;}
.doublerow-slide-item{
	position:relative;
	min-height: 1px;
	padding-right:7px;
	padding-left:7px;
}
.doublerow-slide-item div.headline{
	background-color:#ffffff;
	padding:10px;
	height:64px;
	border-radius:0 0 5px 5px;
}
.doublerow-slide-item div.headline span{
	display:block;
	font-size:16px;
	font-weight:bold;
	line-height:22px;
	height:44px;
	overflow:hidden;
}
.doublerow-slide-item div.lbl{
	background-color:#e91111;
	color:#ffffff;
	font-size:10px;font-weight:normal;
	padding:4px 7px;
	border-radius:3px;
	position:absolute;
	left:10px;
	bottom:10px;
	
}
.doublerow-slide .slick-dots li button{font-size:1px;border-radius:6px;width:12px;height:12px;text-indent:-1500px;}
.doublerow-slide {padding-bottom:18px;}
.doublerow-slide .slick-dots {bottom:0px;}
.doublerow-slide .slick-dots li {margin:0 5px 0 5px;}
.doublerow-slide .slick-dots li button{border-color:#ccc;}
.doublerow-slide .slick-dots li button:hover, .slick-dots li.slick-active button{border-color:#666;background-color:#666;}

/* galeri detay */
.galeri-p-photo img{border-radius:5px 5px 0 0;}
.galeri-p-wrapper{background-color:#ffffff;border-radius:0 0 5px 5px;padding:14px;margin-bottom:14px;}
.galeri-p-headline{margin:7px 0;font-size:24px;font-weight:bold;line-height:28px;}
.galeri-p-subtext{font-size:16px;margin-bottom:14px;}
.galeri-p-photo-wrapper{margin-left:-14px;margin-right:-14px;margin-bottom:28px;margin-top:28px;}
/* galeri detay end */

/* galeri end */




/* Footer */

#footer{background-color:#282828;margin-top:28px;padding:28px 0;color:#aaaaaa;}
.footer-h{color:#ffffff;margin-bottom:14px;}
.footer-c{margin-bottom:28px;}
.footer-c span{display:block;margin-bottom:7px;}
.footer-c span a{color:#aaaaaa;}

/* Footer END */


/* mobile nav */
#mobile-overlay {
    position: fixed;
/*	overflow:hidden;*/
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
	background: rgba(70, 70, 70, 0.0);
    z-index: 999998;
	visibility:hidden;
	-webkit-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    transition: all 100ms linear;
	-webkit-overflow-scrolling: touch;
}
.mobile-overlay-open{
	visibility:visible !important;
	background: rgba(70, 70, 70, 0.9) !important;
}

#mobile-menu{font-family:'Roboto',arial,sans-serif;font-weight:500;background-color:#222222;border-right:1px solid #111;}
.mobile-menu-header{position:relative;width:100%;background-color:#ffffff;height:50px;}
.mobile-menu-header a{color:#222222 !important;}
.mobile-menu-logo{display:block;float:right;margin-top:3px;margin-right:20px;}
#mobile-menu-close{
	position: absolute;
	left: 10px;
	top: 8px;
	padding:5px;
}
/*#mobile-menu .guest-nav{background-color:#ffffff;border-bottom: 1px solid #f0f0f0;}
#mobile-menu .guest-nav a{width:50%;display:block;font-size:16px;color:#fc4d59;float:left;text-align:center;padding:10px 2px;}*/
#mobile-menu ul {
	list-style-type:none;
	display: block;
	margin: 0;
	padding: 0;
}
#mobile-menu ul li {
	display: block;
	margin: 0;
	border-bottom: 1px solid #111;
}
#mobile-menu ul li a{display:block;font-size:18px;padding:16px 20px;line-height:normal;text-decoration:none;color:#ffffff}
#mobile-menu ul li a:focus{color:#fc4d59;}
#mobile-menu ul li a i{margin-right:5px;margin-top:3px;float:right;}
#mobile-menu .social {padding:15px;text-align:center;}
#mobile-menu .social a {margin:0 10px;display:inline-block;}
#mobile-menu .apps {padding:15px;text-align:center;}
/*#mobile-menu ul.alternate li a{color:#b1dedc;}*/

.mobile-sub-menu{background-color:#222222;border-right:1px solid #111;}


/* misc */
.go-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    display: none;
    cursor: hand;
    z-index: 996;
	display:none;
}
.back-to-top {
    background:transparent url('../images/backtotop-bg.png') no-repeat 0 0;
    width: 30px;
    height: 30px;
    display: block;
}


.breadcrumb.custom {
    font-size: 11px;
    padding: 4px 2px;
	background:none;
	margin-top:-15px;margin-bottom:10px;
	color: #999999;
}
.breadcrumb.custom a{color: #999999;}
.breadcrumb.custom > .active {color: #999999;}
.breadcrumb.custom > li + li:before {content: "\003E";padding:0 5px 0 3px;color: #cccccc;}

.shadow-top{
	background: transparent url(../images/shadow-top.png) no-repeat center center;
	background-size: 100% 100%;
	height:10px;
	margin-top:1px;
	margin-bottom:10px;
	}
.shadow-bottom{
	background: transparent url(../images/shadow-bottom.png) no-repeat center center;
	background-size: 100% 100%;
	height:10px;
	margin-top:10px;
	margin-bottom:1px;
	}

/* textarea helpers */
textarea {min-height:80px;}
.noresize {resize: none;}
.vresize {resize: vertical;}
.hresize {resize: horizontal;}  

/* validation styles */
span.field-validation-error {font-size:12px;color:red;font-weight:bold;}
span.field-validation-error:before {content:'>';display:inline-block;font-size:12px;padding-left:5px;padding-right:5px;border-left:1px solid red;}
div.validation-summary-errors {display:inline-block;}
div.validation-summary-errors ul {padding-left:5px;list-style-type:none;}

/* misc end */

/* ** BS custom ** */

/* smaller input support */
.input-xs {
  height: 22px;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}
.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}



/* add an arrow to the dropdown menus */
.dropdown-menu.arrow:before {
  position: absolute;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  content: '';
}
.dropdown-menu.arrow:after {
  position: absolute;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: '';
}

/* postion at the top for a 'down' menu */
.dropdown .dropdown-menu.arrow:before {
  top: -7px;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
}
.dropdown .dropdown-menu.arrow:after {
  top: -6px;
  border-bottom: 6px solid #ffffff;
}

/* postion at the bottom for an 'up' menu */
.dropup .dropdown-menu.arrow:before {
  bottom: -7px;
  border-top: 7px solid #ccc;
  border-top-color: rgba(0, 0, 0, 0.2);
}
.dropup .dropdown-menu.arrow:after {
  bottom: -6px;
  border-top: 6px solid #ffffff;
}

/* support to move the arrow to the right-hand-side*/
.dropdown-menu.arrow.arrow-right:before,
.dropup .dropdown-menu.arrow.arrow-right:before {
  right: 15px;
  left: auto;
}
.dropdown-menu.arrow.arrow-right:after,
.dropup .dropdown-menu.arrow.arrow-right:after {
  right: 16px;
  left: auto;
}

/* full height scrollable modal */
.modal-dialog.full-screen {
    position:fixed;
    /*width:auto; */ /* uncomment to make the width based on the left/right attributes.*/
    margin:auto;                        
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}

.modal-dialog.full-screen .modal-content {
      position:absolute;
      left:10px;
      right:10px;
      top:10px;
      bottom:10px;
}

.modal-dialog.full-screen .modal-content .modal-header {
        height:55px;  /* adjust as needed.*/
}

.modal-dialog.full-screen .modal-content .modal-body {
        overflow-y: auto;
	      position: absolute;
	      top: 0;
	      bottom: 0;
        left:0;
        right:0;
	      margin-top: 55px; /* .modal-header height*/
	      margin-bottom: 62px;  /* .modal-footer height*/
}

.modal-dialog.full-screen .modal-content .modal-footer {
        height:62px;  /* adjust as needed.*/
        position:absolute;
        bottom:0;
        left:0;
        right:0;
}


.modal-header .close{margin-top:-3px;}
.modal-header button.close{font-size:28px;}
.modal-title{max-height:24px;overflow: hidden;color:#005ca9;}


.btn-default, .btn-primary{
		letter-spacing:0.4px;
		-webkit-transition: all 200ms ease-out;  
		-moz-transition: all 200ms ease-out;  
		-o-transition: all 200ms ease-out;  
		transition: all 200ms ease-out;
}

/*.btn-default:hover,.btn-default:active,.btn-default:focus {
    color: #365360;
    background-color: #dff3f2;
    border-color: #24888b;
}*/

.btn-xs, .btn-group-xs > .btn {
    border-radius: 3px;
}

.btn-lg-bold{font-weight:bold;letter-spacing:1px;}

.navbar-default .navbar-nav > li > a:hover{
		-webkit-transition: background 0.3s ease-out;  
		-moz-transition: background 0.3s ease-out;  
		-o-transition: background 0.3s ease-out;  
		transition: background 0.3s ease-out;
	}
	
/* ** BS custom end ** */

/* typeahead custom */
.twitter-typeahead, .tt-hint, .tt-input, .tt-menu { width: 100%; }
span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 200px;
  padding: 6px 0;
  margin: 4px 0 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #e91111;
  /*border-top:none;*/
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion {
  display: block;
  padding: 4px 12px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #000000;
  white-space: nowrap;
  overflow:hidden;
  cursor:pointer;
}
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
  color: #e91111;
  text-decoration: none;
  outline: 0;
  background-color: #fff;
}
/* typeahead custom end */



/* MQ */

@media only screen and (max-width : 767px) { /* xs wide */

/*top*/
.logo-wrapper{display:block;width:auto;}
.milligazetelogo{display:block;float:none;margin:2px auto;width:45px;height:45px;}
.navigation-list, .top-social-wrapper, .top-search-but span {display:none;}
.top-search-but{background-color:#ffffff;margin-right:0;margin-top:-39px;}
.top-search-but a{width:30px;}
.top-search-field {background-color:transparent;}

	/* hide and show transition for mobile nav */
	#header {
		/*position: fixed;width: 100%;z-index: 88;top: 0;border-bottom:1px solid #cccccc;  
		added as default behaviour */
		-webkit-transition: all 0.15s ease-in-out;
		transition: all 0.15s ease-in-out;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	#header.hide-nav {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	/* hide mobile nav styles end */

/*mobile nav mods for static interactive nav*/
/*	body{padding-top:50px;} added as default behaviour */

/*top end*/

.large-slide-container{display:block;float:none;width:100%;padding:0;margin-bottom:14px;}
.small-slide-container{display:block;float:none;width:100%;padding:0;margin-bottom:14px;}

/* mobile homepage order change */
.mob-order-container{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;	
}
.mob-order-wrapper-1{order:5;width:100%;}
.mob-order-wrapper-2{order:3;width:100%;}
.mob-order-wrapper-3{order:1;width:100%;}
.mob-order-wrapper-4{order:2;width:100%;}
.mob-order-wrapper-5{order:4;width:100%;}

.sondakika-ticker{font-size:16px;line-height:18px;padding:14px 75px 14px 7px;}
.sondakika-ticker-btns{top:8px;}

/*slide dots fitting*/
.small-slide .slick-dots li button, .large-slide .slick-dots li button {font-size:1px;border-radius:8px;width:16px;height:16px;text-indent:-1500px;}
.small-slide {padding-bottom:25px;}
.small-slide .slick-dots {bottom:4px;}
.small-slide .slick-dots li {margin:0 3px 0 4px;}
.large-slide {padding-bottom:25px;}
.large-slide .slick-dots {bottom:4px;}
.large-slide .slick-dots li {margin:0 2px 0 2px;}
.large-slide-all-button{display:none;}

.news-special-wrapper-link{margin-bottom:14px;}

/* footer */
.footer-h{text-align:center;}
.footer-c span{text-align:center;}

/*news page*/
.news-container{font-size:16px;}
.news-headline{font-size:24px;line-height:30px;}

/* news special */
#special-headline{height:300px;}
.special-headline-text-wrapper{padding:30px 14px;}
.special-headline-text h1{font-size:30px;}
.special-headline-text .special-file-title{font-size:18px;}
/* news special end */

/* news live */
#live-headline{padding:30px 14px;}
.live-headline-title{font-size:18px;}
h1.live-headline-text{font-size:28px;}
/* news live end */

.oda-title-search-form-wrapper{width:65%;}

.galeri-top-title{padding-top:14px;}

/*easier clicks on drop menus on mobile*/
	.dropdown-menu > li > a{padding:6px 20px;}
	span.twitter-typeahead .tt-suggestion{padding:8px 12px;}
	
	/*modals*/
	.modal-dialog {
	    width: 100%;
	    height: 100%;
	    padding: 0;
	    margin: 0;
	}
	.modal-content {
/*	    height: 100%;*/
	    min-height: 100%;
	    height: auto;
	    border-radius: 0;
		border: 0;
	}

	.modal-dialog.full-screen .modal-content {
		  position:absolute;
		  left:0px;
		  right:0px;
		  top:0px;
		  bottom:0px;
		    border-radius: 0;
			border: 0;
	}

}
@media only screen and (min-width : 768px) { /* wider than xs */


}

@media only screen and (min-width : 768px) and (max-width : 991px) { /* sm wide */
/*top*/
.milligazetelogo{margin-right:15px;}
.navigation-list > li{margin-right:10px;}
.top-social-wrapper{display:none;}
.top-search-but{margin-right:0;width:90px;}
.top-search-but a{width:90px;}
/*top end*/

.large-slide-container{display:block;float:none;width:100%;padding:0;margin-bottom:14px;}
.small-slide-container{display:block;float:none;width:100%;padding:0;margin-bottom:14px;}
.small-slide{float:left;width:50%;}
.small-slide.left{padding-right:7px;}
.small-slide.right{padding-left:7px;}

/* news special */
#special-headline{height:400px;}
.special-headline-text-wrapper{padding:40px 0;}
.special-headline-text h1{font-size:40px;}
.special-headline-text .special-file-title{font-size:20px;}
/* news special end */

/* news live */
#live-headline{padding:38px;}
.live-headline-title{font-size:18px;}
h1.live-headline-text{font-size:36px;}
/* news live end */

.oda-title-search-form-wrapper{width:35%;}

.galeri-top-title{padding-top:0px;}

}

@media only screen and (min-width : 992px) and (max-width : 1199px) { /* md wide */
/*top*/
.milligazetelogo{margin-right:30px;}
.navigation-list > li{margin-right:18px;}
.top-search-but{margin-right:15px;}
/*top end*/
.small-slide .slick-dots li{margin: 0px 1px 0px 1px;}

/* news special */
#special-headline{height:500px;}
.special-headline-text-wrapper{padding:50px 0;}
.special-headline-text h1{font-size:50px;}
.special-headline-text .special-file-title{font-size:22px;}
/* news special end */

/* news live */
#live-headline{padding:44px;}
.live-headline-title{font-size:20px;}
h1.live-headline-text{font-size:40px;}
/* news live end */
.oda-title-search-form-wrapper{width:30%;}

}

@media only screen and (min-width : 1200px) { /* lg + */

}


/* Skin Banner */
.skin-banner120{display:none;/*position:fixed;width:100%;*/}
.skin-banner160{display:none;/*position:fixed;width:100%;*/}
.skin-banner-left-160{position:absolute;left:-167px;top:14px;width:160px;}
.skin-banner-right-160{position:absolute;right:-167px;top:14px;width:160px;}
.skin-banner-left-120{position:absolute;left:-127px;top:14px;width:120px;}
.skin-banner-right-120{position:absolute;right:-127px;top:14px;width:120px;}
@media only screen and (min-width : 1510px){
.skin-banner120{display:none;}
.skin-banner160{display:block;}
}
@media only screen and (min-width : 1430px) and (max-width : 1509px){
.skin-banner120{display:block;}
.skin-banner160{display:none;}
}
/* Skin Banner end*/
.list-group-item{
	height:40px !important;
}

.post-photo-gallery-number {
	position: absolute;
	margin: 20px;
	background-color: #f7f7f7;
	width: 30px;
	text-align: center;
	color: #515151;
}

.braking-news-ticker {
	list-style-type: none !important;
	float: left !important;
	margin-left: 70px !important;
	margin-top: -22px !important;
}

@media screen and (max-width: 600px) {
	.braking-news-ticker li {
		max-width: 210px !important;
		height: 22px !important;
		line-height: 22px !important;
		overflow: hidden;
	}
}

.braking-news-ticker a{
	text-decoration: none !important;
}

.live-video-box{
	background-color: #000 !important;
	width: 100%;
}

.live-video-box iframe {
	border: none;
	overflow: hidden;
	height: 600px;
	width: 100%
}

.live-video-box .sondakika-ticker {
	background-color: #000 !important;
	color: #fff !important;
	border: none !important;
}

.live-video-box .sondakika-ticker a{
	color: #fff !important;
}


@media screen and (max-width: 600px) {
	.live-video-box iframe {
		border: none;
		overflow: hidden;
		height: 300px;
		width: 100%
	}
}

.icon-live-news {
	width: 21px;
	height: 21px;
	border: 2px solid #ff0000;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}

.icon-live-news-in {
	margin: 3px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	display: inline-block;
	animation: icon-live-anim 1.5s infinite;
}

@keyframes icon-live-anim {
	0% {
		background-color: #fff;
	}

	50% {
		background-color: #ff0000;
	}

	100% {
		background-color: #fff;
	}
}

.div-live-news{
	padding: 10px !important;
}

.div-live-news img{
	width: 100% !important;
}

.div-live-news-summary{
	padding: 10px !important;
}

.div-live-news-summary ul li {
	list-style-type: square;
	margin-bottom:10px !important;
}