@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('../images/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/slick.eot');
    src: url('../fonts/slick-1.eot') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;
	z-index:2;
	
    display: block;

    width:36px;
    height:36px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: black;
    border: none;
    outline: none;
    background: transparent;
}
/*.slick-prev:hover
{
	background: transparent url('../images/slider_prev_active.png') center center no-repeat;
}
.slick-next:hover
{
	background: transparent url('../images/slider_next_active.png') center center no-repeat;
}*/
.slick-prev.slick-disabled,
.slick-next.slick-disabled
{
	/*background: transparent url('../images/slider_passive.png') center center no-repeat;*/
	opacity:0.3;
}
.slick-prev
{
    left: 9px;
	background: transparent url('../images/ico-left-arrow.png') center center no-repeat;background-size:36px 36px;
}
[dir='rtl'] .slick-prev
{
    right: 9px;
    left: auto;
}


.slick-next
{
    right: 9px;
	background: transparent url('../images/ico-right-arrow.png') center center no-repeat;background-size:36px 36px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 9px;
}


/* Dots */
.slick-dotted.slick-slider
{
    /*margin-bottom: 30px;*/
}

.slick-dots
{
    position: absolute;
    bottom: 27px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;
    display: inline-block;
	margin: 0px 3px 0px 3px;
/*    width: 25px;
    height: 25px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;*/
}

.slick-dots li button
{
	border:0;
	display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #f4f4f4;
	border-radius:4px;
  	border: solid 1px #e8e8e8;
	cursor: pointer;
	font-size:16px;
	line-height:22px;
	font-weight:bold;
	padding:0;
	
/*	background: transparent url('../images/slider_passive.png') left top no-repeat;background-size:16px 16px;*/
    
}
.slick-dots li button:hover, .slick-dots li.slick-active button{ 
	color:#ffffff;
	background-color: #000000;
	border-color:#000000;
	/*background: transparent url('../images/slider_active.png') left top no-repeat;background-size:16px 16px;*/
}


.small-slide .slick-dots{bottom: 5px;}
.small-slide .slick-dots li button{font-size:14px;border-radius:14px;width:28px;height:28px;}


.slick-slide, .slick-slide *{ outline: none !important; }

/*
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 15px;
    height: 15px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 15px;
    line-height: 15px;

    position: absolute;
    top: 0;
    left: 0;

    width: 15px;
    height: 15px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: #feb144;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: #feb144;
}
*/