@{
    ViewData["Title"] = @Translator.GetByKey("ProjectName") + " - " + LayoutModel.Option.WebsiteTitle;
    ViewData["Description"] = LayoutModel.Option.SeoDescription;
    ViewData["Keywords"] = LayoutModel.Option.SeoKeywords;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync("MainPageNewsTop")

@if (LayoutModel.Option.LastMinutesActive)
{
    @await Component.InvokeAsync("BreakingNews")
}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12 mb-2">
            @await Component.InvokeAsync("MainHeading")
        </div>
        <div class="col-md-4">
            @await Component.InvokeAsync("SubHeading")

            @await Component.InvokeAsync("SubHeading2")
        </div>
    </div>
</div>

@await Component.InvokeAsync("MainPageEconomyHeading")

@await Component.InvokeAsync("MainPageAuthors")

<div class="container">
    <div class="col-md-12 mt-3">
        <div class="row">
            <div class="col-md-6 main-page-gallery">
                @await Component.InvokeAsync("VideoNews")
            </div>
            <div class="col-md-6 main-page-gallery" style="background-color:#656565 !important">
                @await Component.InvokeAsync("PhotoNews")
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("MainPageActualNews")

@await Component.InvokeAsync("MainPageSportsNews")

@await Component.InvokeAsync("MainPagePoliticsHeading")

@await Component.InvokeAsync("MainPageWorldNews")

@await Component.InvokeAsync("MainPageBiographyNews")

@await Component.InvokeAsync("MainPageNewsMiddle")

@await Component.InvokeAsync("MainPageNewsBottom")


@section SectionBottom{

    <!-- Swiper core JavaScript -->
    <script src="~/js/swiper-bundle.min.js"></script>
    <!-- Acmeticker core JavaScript -->
    <script src="~/js/acmeticker.min.js"></script>

    <script>
        var swiper_top_main = new Swiper('.swiper-container-main', {
            loop: true,
            navigation: {
                nextEl: '.swiper-button-next-main',
                prevEl: '.swiper-button-prev-main',
            },
            pagination: {
                el: '.swiper-pagination-main',
                clickable: true,
                renderBullet: function (index, className) {
                    var url = document.getElementById("mainSlider_" + (index + 1)).getAttribute("href");
                    return '<div class="' + className + '"><div class="swiper-full-width-div" onclick="gotoUrl(\'' + url+'\');">' + (index + 1) + '</div></div>';
                },
            },
            autoplay: {
                delay: 7000,
                disableOnInteraction: false,
            },
        });

        var swiper_sub = new Swiper('.swiper-container-sub', {
            loop: true,
            navigation: {
                nextEl: '.swiper-button-next-sub',
                prevEl: '.swiper-button-prev-sub',
            },
            pagination: {
                el: '.swiper-pagination-sub',
                clickable: true
            },
            autoplay: {
                delay: 7500,
                disableOnInteraction: false,
            },
        });

        var swiper_sub2 = new Swiper('.swiper-container-sub2', {
            loop: true,
            navigation: {
                nextEl: '.swiper-button-next-sub2',
                prevEl: '.swiper-button-prev-sub2',
            },
            pagination: {
                el: '.swiper-pagination-sub2',
                clickable: true
            },
            autoplay: {
                delay: 8000,
                disableOnInteraction: false,
            },
        });

        var swiper_bottom = new Swiper('.swiper-container-bottom', {
            loop: true,
            navigation: {
                nextEl: '.swiper-button-next-bottom',
                prevEl: '.swiper-button-prev-bottom',
            },
            pagination: {
                el: '.swiper-pagination-bottom',
                clickable: true
            },
            autoplay: {
                delay: 8000,
                disableOnInteraction: false,
            },
        });

        var swiper_bottom2 = new Swiper('.swiper-container-bottom2', {
            direction: 'vertical',
            slidesPerView: 1,
            loop: true,
            navigation: {
                nextEl: '.swiper-button-next-bottom2',
                prevEl: '.swiper-button-prev-bottom2',
            },
            pagination: {
                el: '.swiper-pagination-bottom2',
                clickable: true,
                renderBullet: function (index, className) {
                    var url = document.getElementById("politicsSlider_" + (index + 1)).getAttribute("href");
                    return '<div class="' + className + '"><div class="swiper-bottom2-full-width-div" onclick="gotoUrl(\'' + url + '\');">' + (index + 1) + '</div></div>';
                },
            },
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
        });

        $('.swiper-pagination-bullet').hover(function () {
            $(this).trigger("click");
        });

        function gotoUrl(_url) {
            window.open(_url, '_blank');
        }

        jQuery(document).ready(function ($) {
            $('.breaking-news-ticker').AcmeTicker({
                type: 'vertical',/*vertical/horizontal/Marquee/type*/
                direction: 'up',/*up/down/left/right*/
                speed: 600,/*true/false/number*/ /*For vertical/horizontal 600*//*For marquee 0.05*//*For typewriter 50*/
                autoplay: 4000, /*sn*/
                controls: {
                    prev: $('.breaking-news-ticker-prev'),/*Can be used for vertical/horizontal/typewriter*//*not work for marquee*/
                    next: $('.breaking-news-ticker-next')/*Can be used for vertical/horizontal/typewriter*//*not work for marquee*/
                    //toggle: $('.acme-news-ticker-pause')/*Can be used for vertical/horizontal/marquee/typewriter*/
                }
            });
        });
    </script>
}